.demo-send-frames {
    display: inline-flex;
    background-color: #eee;
}

.demo-send-frames .frame {
    box-sizing: border-box;
    width: 4px;
    height: 12px;
    background-color: transparent;
    transition: background-color .3s cubic-bezier(0.33, 1, 0.68, 1);
}

.demo-send-frames .frame.set {
    background-color: #000;
    transition: background-color 0s;
}

.demo-flex {
    display: flex;
    align-items: stretch;
    gap: 4px;
}

.demo-flex>* {
    flex: 1;
}

#demo-ipt-envelope-data {
    display: block;
    width: 100%;
    margin-top: 16px;
    min-height: 128px;
    resize: vertical;
}

#demo-video-player {
    width: 100%;
}